body {
  background-color: lightblue;
}

#content {
  margin-left: auto;
  margin-right: auto;
  /*width: 650px;*/
  width: 50%;
}

#greeting-container {
  margin-top: 20px;
}

img{
    width:225px;
    height:225px;
    object-fit:scale-down;
}

.rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#comment-list {
  list-style-type: none;
}

.comment {
  border: thin solid black;
  display: flex;
  margin: 10px;
  padding: 10px;
  width: 300px;
}

.comment span {
  flex-grow: 1;
}

#text {
        width: 500px;
        height: 125px;
      }

#language {
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
}
